<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <span class="login100-form-title p-b-70 mb-5">
          Welcome
          </span>
          <form [formGroup]="myForm" (ngSubmit)="save(myForm)">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">UserName</label>
              <input type="text" formControlName="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

            </div>
            <div class="mb-5">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password"formControlName="password" class="form-control" id="exampleInputPassword1">
            </div>

            <button type="submit" [disabled]="myForm.invalid" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
</section>
